<main>
    <app-learning-resources />
  
    <hr />
        
    <!-- @if(isAdmin()){
            <p>Only admins allowed/p>
        } -->
    <!-- <p *ngIf ="isAd">welcome Admin</p>
    <app-auth /> -->
<app-auth (detail) = "setDetails($event)" />
<!-- <ng-template appAuth = "admin">   
<p >Only admins should see this</p>
</ng-template> -->
<p *appAuth="'admin'" class="protected-content admin">Only  {{ { name: displayName, date: displayDate } | display}} should see this</p>
<form *appAuth="'admin'" class = "protected-content admin">
    <label class = "protected-content admin"> Temp in C</label>
    <input type="text" name = "temp" [(ngModel)] = 'temp'  (ngModelChange)="onModelChange($event)"> 
    <label class = "protected-content admin">{{ temp | temperature : 'cel' }} </label>

</form> 

<p *appAuth="'guest'" class="protected-content unauthenticated" >Guest can use this </p>

<p *appAuth="'user'" class="protected-content authenticated" >{{ { name: displayName, date: displayDate } | display}} should see this</p>
<form *appAuth="'user'" class = "protected-content authenticated">
    <label class = "protected-content authenticated"> Enter the Number :</label>
    <input type="text" name = "money" [(ngModel)] = 'money'  (ngModelChange)="onChange($event)"> 
    <label class = "protected-content authenticated">{{ temp | temperature : 'cel' }} </label>
</form> 

</main>